*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1{
    display: flex;
    justify-content: center;
    align-items: center;

}

.container {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;     
    background-color: #f0f0f0;
    flex-direction: column; 
    gap: 15px;
}


button {
    width: 200px;
    padding: 15px;
    font-size: 20px;
    cursor: pointer;
    border-radius: 8px;
    border: none;
    background-color: white;
    color: black;
}

button:hover {
    background-color: #4578a0;
}