/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*botao do carrinho*/
#carrinho {
    padding: 8px 15px;
    border: none;
    cursor: pointer;
    background: #111;
    color: white;
    border-radius: 4px;
}

#carrinho:hover {
    opacity: 0.8;
}

body {
    font-family: 'Segoe UI', Arial, sans-serif;
    background-color: #f8f9fb;
    
}

header {
    background: #222;
    color: white;
    padding: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    gap: 25px;
}

.card {
    background: #ffffff;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 6px 18px rgba(0, 0, 0, 0.08);
    transition: all 0.3s ease;
}

.card:hover {
    transform: translateY(-6px);
    box-shadow: 0 10px 22px rgba(0, 0, 0, 0.12);
}

/* Imagem */
.card img {
    width: 100%;
    height: 220px;
    object-fit: cover;
}

/* Conteúdo */
.card-content {
    padding: 18px;
    text-align: center;
}

.card-content h3 {
    font-size: 18px;
    margin-bottom: 8px;
    color: #333;
}

.card-content p {
    font-size: 14px;
    color: #777;
    margin-bottom: 12px;
}

/* Preço */
.preco {
    font-size: 20px;
    font-weight: bold;
    color: #111;
    margin-bottom: 15px;
}

/* Botão */
.btn-cart {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 8px;
    background-color: #111;
    color: #fff;
    font-size: 14px;
    cursor: pointer;
    transition: background 0.3s ease;
}

.btn-cart:hover {
    background-color: #333;
}